#newsletter{
    padding-bottom: 156px;
    .newsletter-title{
        p{
            padding: 0 50px;
        }
    }
    .news-letter-content{
        padding-top: 40px;
        a{
            width: 220px;
            height: 56px;
            line-height: 56px;
        }
    }
}